apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-agent
subjects:
  - kind: ServiceAccount
    name: prometheus-agent
    namespace: {{ .Values.namespace }}
roleRef:
  kind: ClusterRole
  name: prometheus-agent
  apiGroup: rbac.authorization.k8s.io