apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-agent-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      external_labels:
        agent: "k8s-agent"
    agent_mode: true
    scrape_configs:
{{ .Values.scrapeConfigs | indent 6 }}
    remote_write:
      - url: "{{ .Values.remoteWrite.url }}"
        basic_auth:
          username_file: /etc/prometheus/remote-write-username
          password_file: /etc/prometheus/remote-write-password