:root {
  --md-primary-fg-color: #054a6e;
  --md-primary-fg-color--light: #054a6e;
  --md-primary-fg-color--dark: #054a6e;
  --md-accent-fg-color: #ffc61c;
  --md-accent-fg-color--transparent: #ffc61c1a;
}
